:root{
    --primary-color: #ea4335;
    --yellow-color: #ff9900;
    --grey-color: #666666;
    --text-color: #333333;
    --bg-color: #f2f2f2;
    --blue-gradient: linear-gradient(180deg, #04153A 0%, #122348 100%);
    --green-color: #198754;
    --blue-color: #0e1f44;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #f3f6f9;
}
h1{
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;
}
h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}
h3 {
    font-size: 26px;
    font-weight: 700;
}
h4 {
    font-size: 22px;
    font-weight: 600;
}
h6 {
    font-size: 18px;
    font-weight: 700;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
p {
    font-size: 16px;
    color: var(--text-color);
    margin: 0;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-green{
    background-color: var(--green-color);
    color: var(--bg-color);
}
.btn-green:hover{
    border: 1px solid var(--green-color);
}
.btn-outline-primary{
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color);
}
.btn{
    border: 0;
    height: 40px;
    line-height: 38px;
    padding: 0 30px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 16px;
}
form a, form a:hover{
    color: var(--yellow-color);
}
.SlideNav {
    width: 300px;
    background: var(--blue-gradient);
    padding: 30px;
    position: fixed;
    left: 0;
    z-index: 1;
    height: 100%;
}
.SlideNav .logo {
    width: 165px;
    margin-bottom: 30px;
}
.SlideNav ul {
    padding-top: 10px;
}
.SlideNav li a {
    color: var(--bs-white);
    padding: 10px 10px;
    display: block;
    border-radius: 4px;
}
.SlideNav li a span {
    vertical-align: sub;
    margin-right: 8px;
}
.SlideNav li {
    margin: 5px 0;    
}
.SlideNav li a.active{
    background-color: var(--primary-color);
}
.prfileWrap {
    border-bottom: 1px solid var(--grey-color);
    padding-bottom: 15px;
}
.prfileWrap span {
    vertical-align: middle;
    background-color: #f3f6f9;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    margin-left: 10px;
    color: var(--blue-color);
}
.prfileWrap p {
    color: var(--bg-color);
}
.mainContent {
    padding: 20px;
    margin-left: 300px;
}
.card {
    padding: 40px;
}

form .form-group {
    margin-bottom: 8px;
}
form label {
    display: block;
    margin-bottom: 2px;
    color: var(--text-color);
}
input, select, textarea {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--grey-color);
}
form input{
    width: 100%;
}
.mainContent form {
    padding-top: 20px;
}
.btnWrapper .btn {
    margin-right: 10px;
}
table th {
    background-color: #f5f5f5;
}
table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
}
table td span {
    vertical-align: middle;
}
table td a {
    font-weight: 600;
    color: #0a1b40;
}
.mainContent table {
    margin-top: 30px;
}
.centerWrap .form-group {
    margin: 0 auto;
}


.input-file {
    padding: 0;
}
.input-file::file-selector-button{
    border: none;
    color: var(--bg-color);
    background-color: var(--blue-color);
    height: 40px;
    cursor: pointer;
    transition: all .25s ease-in;
    cursor: pointer;
    padding: 0 20px;
}
.input-file::file-selector-button:hover{
    background-color: #fff;
    color: #565A90;
    transition: all .25s ease-in;
}
.navWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.navWrap p a {
    padding-left: 20px;
}
.navWrap ul {
    display: flex;
    margin: 0;
}
.navWrap li {
    padding-left: 10px;
}
.topWrap {
    justify-content: space-between;
    padding-top: 20px;
}
.topWrap select, .topWrap input {
    height: 30px;
    margin: 0 5px;
}
.topWrap input:last-child {
    margin-right: 0;
}
input[type="search"] {
    outline-offset: 0;
}
.progressWrap {
    margin-top: 30px;
}
.progressWrap h3{
    margin-bottom: 30px;
}
.progressWrap li span {
    width: 65px;
    height: 65px;
    background-color: var(--blue-color);
    line-height: 65px;
    text-align: center;
    font-size: 34px;
    color: var(--bs-white);
    border-radius: 11px;
    margin: 10px 0;
}
.progressWrap li {
    text-align: center;
    width: 16%;
    display: inline-block;
    padding: 20px 10px;
    background-color: #f3f6f9;
    margin: 0 4px;
    border-radius: 5px;
    min-height: 243px;
    vertical-align: middle;
}
.progressWrap li:first-child{
    margin-left: 0;
}
.progressWrap li:last-child{
    margin-right: 0;
}
.progressWrap li p{
    color: var(--text-color);
    font-weight: 600;
}
.formWrapper input, select, textarea {
    width: 100%;
    outline: 0;
}
.formWrapper textarea {
    height: 100px;
}
.tagDocumentation .nav-tabs .nav-item button {
    background: #0d1e43;
    border: 0;
    border-radius: 2px;
    margin: 0 5px;
    color: #ffffff;
}
.tagDocumentation .nav-tabs .nav-item .nav-link.active{
    background-color: var(--primary-color);
    color: var(--bs-white);
}
.tagDocumentation .nav-tabs{
    border: 0;
    margin-bottom: 30px;
}
.columntax {
    column-count: 2;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}
.mainContent input, .mainContent label {
    height: 40px;
    border-radius: 3px;
    line-height: 30px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #333333;
}
.residencyform .row {
    background: #f3f6f9;
    padding: 15px 10px;
    border-radius: 3px;
}
.mainContent .form-group label {
    height: auto;
    line-height: normal;
    margin-bottom: 4px;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    padding:10px 40px;
    background-color: #04AA6D;
    color: white;
    font-size:17px;
    max-width:300px;
    border-radius:20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;  
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
   
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    border-radius:20px;
    background-color: white;
    color:#777;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius:20px;
    background: #ddd;
    resize: none;
    min-height: 200px;
    color:#777;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
     font-size:17px;
    padding: 10px 20px;
    border: none;
    border-radius:20px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: #1974D2;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
  opacity: 0.8;
  }
  .blokShow{
    display: block !important; 
  }

  .chatbox {
    width: 400px;
    height: 400px;
    margin: 0 20px 0 0;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-flow: column;
    border-radius: 10px 10px 0 0;
    background: white;
    bottom: 0;
    transition: .1s ease-out;
  }
  
  .chatbox-top {
    position: relative;
    display: flex;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, .05);
  }
  
  .chatbox-icons {
    padding: 0 10px 0 0;
    display: flex;
    position: relative;
  }
  
  .chatbox-icons .fa {
    background: rgba(220, 0, 0, .6);
    padding: 3px 5px;
    margin: 0 0 0 3px;
    color: white;
    border-radius: 0 5px 0 5px;
    transition: 0.3s;
  }
  
  .chatbox-icons .fa:hover {
    border-radius: 5px 0 5px 0;
    background: rgba(220, 0, 0, 1);
  }
  
  .chatbox-icons a, .chatbox-icons a:link, .chatbox-icons a:visited {
    color: white;
  }
  
  .chat-partner-name, .chat-group-name {
    flex: 1;
    padding: 0 0 0 20px;
    font-size: 15px;
    font-weight: bold;
    color: #30649c;
    text-shadow: 1px 1px 0 white;
    transition: .1s ease-out;
  }
  
  .status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #cacaca;
    margin: 0 3px 0 0;
  }
  
  .online {
    background: #b7fb00;
  }
  
  .away {
    background: #ffae00;
  }
  
  .donot-disturb {
    background: #ff4343;
  }
  
  .chatbox-avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    padding: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    position: absolute;
    transition: .1s ease-out;
    bottom: 0;
    left: 6px;
  }
  
  .chatbox-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .chat-messages {
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 1;
  }
  
  .message-box-holder {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }
  
  .message-sender {
    font-size: 12px;
    margin: 0 0 15px;
    color: #30649c;
    align-self: flex-start;
  }
  
  .message-sender a, .message-sender a:link, .message-sender a:visited, .chat-partner-name a, .chat-partner-name a:link, .chat-partner-name a:visited {
    color: #30649c;
    text-decoration: none;
  }
  
  .message-box {
    padding: 6px 10px;
    border-radius: 6px 0 6px 0;
    position: relative;
    background: rgba(100, 170, 0, .1);
    border: 2px solid rgba(100, 170, 0, .1);
    color: #6c6c6c;
    font-size: 12px;
  }
  
  .message-box:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid rgba(100, 170, 0, .2);
    border-right: none;
    bottom: -22px;
    right: 10px;
  }
  
  .message-partner {
    background: rgba(0, 114, 135, .1);
    border: 2px solid rgba(0, 114, 135, .1);
    align-self: flex-start;
  }
  
  .message-partner:after {
    right: auto;
    bottom: auto;
    top: -22px;
    left: 9px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 114, 135, .2);
    border-left: none;
  }
  
  .chat-input-holder {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
  
  .chat-input {
    resize: none;
    padding: 5px 10px;
    height: 40px;
    font-family: 'Lato', sans-serif;
      font-size: 14px;
    color: #999999;
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, .05);
     border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
  
  .chat-input:focus, .message-send:focus {
    outline: none;
  }
  
  .message-send::-moz-focus-inner {
      border:0;
      padding:0;
  }
  
  .message-send {
    -webkit-appearance: none;
    background: #9cc900;
    background: -moz-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -webkit-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -o-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -ms-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: linear-gradient(180deg, #00d8ff, #00b5d6);
    color: white;
    font-size: 12px;
    padding: 0 15px;
    border: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  }
  
  .attachment-panel {
    padding: 3px 10px;
    text-align: right;
  }
  
  .attachment-panel a, .attachment-panel a:link, .attachment-panel a:visited {
    margin: 0 0 0 7px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .chatbox-min {
    margin-bottom: -362px;
  /*   height: 46px; */
  }
  
  .chatbox-min .chatbox-avatar {
    width: 60px;
    height: 60px;
  }
  
  .chatbox-min .chat-partner-name, .chatbox-min .chat-group-name {
    padding: 0 0 0 75px;
  }
  
  .settings-popup {
    background: white;
      border-radius: 20px/10px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
    font-size: 13px;
      opacity: 0;
      padding: 10px 0;
      position: absolute;
      right: 0;
      text-align: left;
      top: 33px;
      transition: .15s;
      transform: scale(1, 0);
      transform-origin: 50% 0;
      width: 120px;
    z-index: 2;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 2px solid rgba(0, 0, 0, .3);
  }
  
  .settings-popup:after, .settings-popup:before {
    border: 7px solid transparent;
      border-bottom: 7px solid white;
      border-top: none;	
      content: "";
      position: absolute;
      left: 45px;
      top: -10px;
    border-top: 3px solid rgba(0, 0, 0, .2);
  }
  
  .settings-popup:before {
    border-bottom: 7px solid rgba(0, 0, 0, .25);
    top: -11px;
  }
  
  .settings-popup:after {
    border-top-color: transparent;
  }
  
  #chkSettings {
      display: none;
  }
  
  #chkSettings:checked + .settings-popup {
      opacity: 1;
      transform: scale(1, 1);
  }
  
  .settings-popup ul li a, .settings-popup ul li a:link, .settings-popup ul li a:visited {
    color: #999;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
  }
  
  .settings-popup ul li a:hover {
    background: rgba(0, 0, 0, .05);
  }

 .open-button {
    display: inline-block;
    background-color: #4CAF50; /* Set your button background color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-text {
    display: inline-block;
}

.notification-count {
    background-color: red; /* Set your notification background color */
    color: white;
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
    margin-left: 5px; /* Adjust the spacing between text and count */
}

.notification-button {
    /* position: relative; */
    background-color: #3498db; /* Set your button background color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-icon {
    width: 20px;
    height: 20px;
    background-color: red; /* Set your notification background color */
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
}

.notification-icon::before {
    content: '\2022'; /* Unicode character for a filled circle */
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


  