:root{
    --primary-color: #ea4335 !important;
    --yellow-color: #ff9900 !important;
    --grey-color: #666666 !important;
    --text-color: #333333 !important;
    --bg-color: #f2f2f2 !important;
    --blue-gradient: linear-gradient(180deg, #04153A 0%, #122348 100%) !important;
    --green-color: #198754 !important;
    --blue-color: #0e1f44 !important;
}
body{
    font-family: 'Lato', sans-serif !important;
    background-color: #f3f6f9 !important;
}
h1{
    font-size: 54px !important;
    line-height: 60px !important;
    font-weight: 800 !important;
}
h2{
    font-size: 40px !important;
    line-height: 50px !important;
    font-weight: 700 !important;
}
h3 {
    font-size: 26px !important;
    font-weight: 700 !important;
}
h4 {
    font-size: 22px !important;
    font-weight: 600 !important;
}
h6 {
    font-size: 18px !important;
    font-weight: 700 !important;
}
a{
    color: var(--text-color) !important;
    text-decoration: none !important;
}
p {
    font-size: 16px !important;
    color: var(--text-color) !important;
    margin: 0 !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.btn-green{
    background-color: var(--green-color) !important;
    color: var(--bg-color) !important;
}
.btn-green:hover{
    border: 1px solid var(--green-color) !important;
}
.btn-outline-primary{
    border: 1px solid var(--primary-color) !important ;
    color: var(--primary-color) !important;
}
.btn{
    border: 0 !important;
    height: 40px !important;
    line-height: 38px !important;
    padding: 0 30px !important;
    border-radius: 4px !important;
    border: 1px solid transparent !important;
    font-size: 16px !important;
}
form a, form a:hover{
    color: var(--yellow-color) !important;
}
.SlideNav {
    width: 300px !important;
    background: var(--blue-gradient) !important;
    padding: 30px !important;
    position: fixed !important;
    left: 0 !important;
    z-index: 1 !important;
    height: 100% !important;
}
.SlideNav .logo {
    width: 165px !important;
    margin-bottom: 30px !important;
}
.SlideNav ul {
    padding-top: 10px !important;
}
.SlideNav li a {
    color: var(--bs-white) !important;
    padding: 10px 10px !important;
    display: block !important;
    border-radius: 4px !important;
}
.SlideNav li a span {
    vertical-align: sub !important;
    margin-right: 8px !important;
}
.SlideNav li {
    margin: 5px 0 !important;    
}
.SlideNav li a.active{
    background-color: var(--primary-color) !important;
}
.prfileWrap {
    border-bottom: 1px solid var(--grey-color) !important;
    padding-bottom: 15px !important;
}
.prfileWrap span {
    vertical-align: middle !important;
    background-color: #f3f6f9 !important;
    width: 40px !important;
    height: 40px !important;
    display: inline-block !important;
    line-height: 40px !important;
    text-align: center !important;
    border-radius: 100px !important;
    margin-left: 10px !important;
    color: var(--blue-color) !important;
}
.prfileWrap p {
    color: var(--bg-color) !important;
}
.mainContent {
    padding: 20px !important;
    margin-left: 300px !important;
}
.card {
    padding: 40px !important;
}

form .form-group {
    margin-bottom: 8px !important;
}
form label {
    display: block !important;
    margin-bottom: 2px !important;
    color: var(--text-color) !important;
}
input, select, textarea {
    height: 40px !important;
    line-height: 40px !important;
    padding: 0 10px !important;
    border-radius: 5px !important;
    border: 1px solid var(--grey-color) !important;
}
form input{
    width: 100% !important;
}
.mainContent form {
    padding-top: 20px !important;
}
.btnWrapper .btn {
    margin-right: 10px !important;
}
table th {
    background-color: #f5f5f5 !important;
}
table th, table td {
    border: 1px solid #ccc !important;
    padding: 10px !important;
}
table td span {
    vertical-align: middle !important;
}
table td a {
    font-weight: 600 !important;
    color: #0a1b40 !important;
}
.mainContent table {
    margin-top: 30px !important;
}
.centerWrap .form-group {
    margin: 0 auto !important;
}


.input-file {
    padding: 0 !important;
}
.input-file::file-selector-button{
    border: none !important;
    color: var(--bg-color) !important;
    background-color: var(--blue-color) !important;
    height: 40px !important;
    cursor: pointer !important;
    transition: all .25s ease-in !important;
    cursor: pointer !important;
    padding: 0 20px !important;
}
.input-file::file-selector-button:hover{
    background-color: #fff !important;
    color: #565A90 !important;
    transition: all .25s ease-in !important;
}
.navWrap {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding-top: 30px !important;
}
.navWrap p a {
    padding-left: 20px !important;
}
.navWrap ul {
    display: flex !important;
    margin: 0 !important;
}
.navWrap li {
    padding-left: 10px !important;
}
.topWrap {
    justify-content: space-between !important;
    padding-top: 20px !important;
}
.topWrap select, .topWrap input {
    height: 30px !important;
    margin: 0 5px !important;
}
.topWrap input:last-child {
    margin-right: 0 !important;
}
input[type="search"] {
    outline-offset: 0 !important;
}
.progressWrap {
    margin-top: 30px !important;
}
.progressWrap h3{
    margin-bottom: 30px !important;
}
.progressWrap li span {
    width: 65px !important;
    height: 65px !important;
    background-color: var(--blue-color) !important;
    line-height: 65px !important;
    text-align: center !important;
    font-size: 34px !important;
    color: var(--bs-white) !important;
    border-radius: 11px !important;
    margin: 10px 0 !important;
}
.progressWrap li {
    text-align: center !important;
    width: 19% !important;
    display: inline-block !important;
    padding: 20px 10px !important;
    background-color: #f3f6f9 !important;
    margin: 0 4px !important;
    border-radius: 5px !important;
}
.progressWrap li:first-child{
    margin-left: 0 !important;
}
.progressWrap li:last-child{
    margin-right: 0 !important;
}
.progressWrap li p{
    color: var(--text-color) !important;
    font-weight: 600 !important;
}
.formWrapper input, select, textarea {
    width: 100% !important;
    outline: 0 !important;
}
.formWrapper textarea {
    height: 100px !important;
}
.tagDocumentation .nav-tabs .nav-item button {
    background: #0d1e43 !important;
    border: 0 !important;
    border-radius: 2px !important;
    margin: 0 5px !important;
    color: #ffffff !important;
}
.tagDocumentation .nav-tabs .nav-item .nav-link.active{
    background-color: var(--primary-color) !important;
    color: var(--bs-white) !important;
}
.tagDocumentation .nav-tabs{
    border: 0 !important;
    margin-bottom: 30px !important;
}
.columntax {
    column-count: 2 !important;
    display: flex !important;
    align-items: center !important;
    gap: 6px !important;
    margin-bottom: 8px !important;
}
.mainContent input, .mainContent label {
    height: 30px !important;
    border-radius: 3px !important;
    line-height: 30px !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
    color: #333333 !important;
}
.residencyform .row {
    background: #f3f6f9 !important;
    padding: 15px 10px !important;
    border-radius: 3px !important;
}
.mainContent .form-group label {
    height: auto !important;
    line-height: normal !important;
    margin-bottom: 4px !important;
}