@media (max-width: 1400px) {}
@media (max-width: 1200px) {
    header .nav-item {
        padding: 0 2px;
    }
    .btn{
        padding: 0 10px;
    }
    .taxServices p br {
        display: none;
    }
    .w-80 {
        width: 100%;
    }

}
@media (max-width: 992px) {
    .serviceSlider .item {
        padding-bottom: 40px;
    }
    .whyimg{
        margin-right: 0;
    }
    header .navbar-nav {
        align-items: center;
        position: absolute;
        background-color: #f7f7f8;
        left: 0;
        right: 0;
        top: 75px;
        padding-bottom: 20px !important;
    }
    header .navbar-toggler {
        padding: 0;
        border: 0;
        outline: none;
    }
    .navbar li {
        margin-bottom: 0;
        padding: 5px 0 !important;
    }
    header a.nav-link{
        font-size: 18px !important;
    }
}
@media (max-width: 767px) {
    .taxServices .mt-5 {
        margin-top: 15px !important;
    }
    .service-bar .row {
        gap: 25px 0;
    }
    .service-bar {
        padding: 40px 0;
    }   
    .serviceSlider {
        padding: 40px 0 10px 0;
    }
    .whyimg{
        margin-bottom: 15px;
    }
    .whyUs {
        padding: 40px 0;
    }
    .visionFiletax {
        padding: 40px 0;
    }
    .footer-logo img {
        width: 60%;
        margin-bottom: 30px;
    }
    .whyimg{
        margin-bottom: 15px;
    }
    .successtories .owl-nav {
        position: relative;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }
    .whyUs h2 {
        margin-bottom: 10px;
    }
}
@media (max-width: 575px) {
    .taxServices {
        padding: 40px 0;
    }
    .service-bar .row {
        gap: 20px 0;
    }
    .serviceSlider .row {
        padding-top: 10px;
    }
    .serviceSlider .item p a{
        margin-top: 5px;
    }
}
@media (max-width: 480px) {}