:root{
    --primary-color: #292759;
    --yellow-color: #ff9900;
    --grey-color: #666666;
    --text-color: #333333;
    --bg-color: #f2f2f2;
}
body{
    font-family: 'Lato', sans-serif;
}


html, body {
    height: 100%;
}
h1{
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;
}
h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}
h3 {
    font-size: 30px;
    font-weight: 700;
}
a{
    cursor:pointer !important
}
h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}
h5{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
p {
    font-size: 18px;
    line-height: 32px;
    color: var(--text-color);
    margin: 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-color);
}
.btn-outline-primary{
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color);
}
.btn-outline-primary:hover{
    background-color: var(--primary-color);
    color: var((--bs-white));
}
.btn{
    border: 0;
    height: 40px;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 4px;
    font-size: 16px;
}
form a, form a:hover{
    color: var(--yellow-color);
}

.formWrapper form .d-flex {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.formWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper form {
    width: 550px;
    padding: 40px;
    background: var(--bg-color);
    border-radius: 5px;
}
.formWrapper form label, .formWrapper form input {
    width: 100%;
}
.formWrapper form label {
    color: var(--text-color);
    margin-bottom: 6px;
}
.formWrapper input {
    height: 35px;
    border-radius: 1px;
    background: var(--bs-white);
    border: 0;
    color: var(--text-color);
    padding: 0 10px;
    outline: none;
}
/* Header Section */
.topHeader p{
    color: var(--text-color);
    margin-right: 20px;
    font-size: 16px;
}
.topHeader p:last-child{
    margin-right: 0;
}
.topHeader p a{
    color: var(--text-color);
    padding-left: 4px;
}
.sticky-nav .navbar {
    position: fixed;
    background-color: var(--bs-white) !important;
    width: 100%;
    top: 0;
    padding: 20px 0;
    z-index: 1;
    left: 0;
    box-shadow: rgba(41 39 89 / 4%);
}
.logo{
    width: 200px;
}
.menuItems .btn-outline-primary {
    margin-left: 10px;
}
header {
    background-color: rgba(41 39 89 / 4%)
    /* box-shadow: 0 0 25px 0px #00000042; */
}
.innertopHeader {
    padding: 15px 0 0 0;
}
header .navbar {
    background: transparent !important;
    justify-content: space-between;
    transition: 600ms ease;
    padding: 15px 0;
}
header .collapse {
    justify-content: flex-end;
}

header .nav-item {
    padding: 0 10px;
}
header a.nav-link {
    padding: 0;
    font-weight: 600;
}
header a.nav-link:hover{
    color: var(--primary-color);
}
header .navbar-nav{
    align-items: center;
}
header a.nav-link.active{
    color: var(--primary-color) !important;
}
header .nav-item:last-child {
    padding-right: 0;
}
header .dropdown-menu {
    box-shadow: 0px 10px 20px 0px #0000002b;
    border: 0;
    min-width: 220px;
    padding: 10px;
}
.navbar li {
    margin-bottom: 5px;
}
header .dropdown-item {
    font-size: 14px;
}
header .dropdown-item:hover {
    background: transparent;
    color: var(--primary-color);
}
/* Banner Section */
.bannerWrap {
    background-image: url(../images/bannerImg.jpg);
    padding: 50px 0;
    background-position: center;
    background-size: cover;
    height: 520px;
}
.bannerWrap p {
    font-size: 24px;
}
.bannerWrap .row {
    align-items: center;
}
.bannerContent {
    padding-right: 60px;
    position: relative;
    padding: 200px 0;
}
.bannerContent .btn {
    position: absolute;
    bottom: 0;
    left: 40px;
}
.bannerWrap h1{
    margin-bottom: 20px;
}
.bannerContent .btn span {
    vertical-align: middle;
    margin-left: 5px;
}
.mainHeading{
    text-align: center;
    margin-bottom: 20px;
}
.mainHeading h6 {
    font-size: 18px;
    color: var(--primary-color);
}
.mainHeading h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
    color: var(--text-color);
}
.w-80 {
    width: 80%;
    margin: 0 auto;
}
.taxServices {
    padding: 60px 0;
}
.aboutBg {
    padding: 60px 0;
    background-image: url(../images/aboutBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.aboutContent{
    position: relative;
}
.aboutContent h2, .aboutContent h6, .aboutContent p{
    color: #ffffff;
}
.aboutBg:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000b3;
}
.taxServices p {
    text-align: center;
}
.service-bar {
    padding: 60px 0;
    background-color: #f8f8f8;
    background-image: url(../images/servicesImg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.service-bar:before{
    content: '';
    background-color: #000000ba;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.innerService {
    text-align: center;
    position: relative;
    z-index: 9;
}
.innerService span {
    font-size: 44px;
    font-weight: 500;
    color: var(--bs-white);
}
.innerService h3, .innerService p{
    color: var(--bg-color);
}
.serviceSlider .row {
    padding-top: 30px;
}
.profileDiffImg.w-100 {
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.itemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 220px;
}
.itemContent .btn {
    width: 160px;
}
.successtories .owl-nav {
    position: absolute;
    top: 43%;
    transform: translateY(-43%);
    left: -35px;
    right: -35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.successtories .owl-nav button span {
    font-size: 55px;
    color: #292759;
}
.whyUs h2 {
    margin-bottom: 20px;
}
.contactWrap{
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    position: relative;
}
.contactWrap:before {
    content: '';
    background-color:rgb(255 255 255 / 90%);
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
}
.contactWrap form {
    position: relative;
}
.contactWrap form input, .contactWrap form textarea {
    width: 100%;
    background-color: #fff;
    height: 45px;
    padding: 0 10px;
    line-height: 42px;
    border: 1px solid var(--text-color);
    border-radius: 0;
    outline: none;
    color: var(--bs-black);
}
.contactWrap form textarea{
    height: 100px;
}
.form-group {
    margin: 0 0 15px 0;
    display: flex;
    gap: 0 15px;
}
.contactWrap form h2 {
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}
.contactWrap form .btn {
    padding: 0 40px;
    margin-top: 10px;
}
.footer-logo {
    padding-right: 50px;
}
footer{
    background-color: var(--bs-black);
    padding: 60px 0 30px 0;
}
footer p, footer a{
    color: var(--bg-color);
}
.copyright{
    padding: 10px 0;
    text-align: center;
    color: var(--bg-color);
    margin-top: 40px;
}
.serviceSlider .owl-nav {
    display: none;
}
.owl-dots.disabled {
    display: block !important;
}
.serviceSlider .item p a {
    display: block;
    font-weight: 700;
    margin-top: 10px;
}
.serviceSlider .item p a:hover{
    color: var(--primary-color);
}
.serviceSlider {
    padding: 60px 0 20px 0;
}
.serviceSlider .item p {
    opacity: .5;
}
.serviceSlider h4{
    font-size: 20px;
}
.srvicesImg {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 2px;
}
.serviceSlider .item{
    padding-bottom: 60px;
}
.serviceSlider .item span {
    color: var(--primary-color);
}
.successtories .item img {
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 10px;
}
.successtories .item p{
    opacity: .5;
}
.aboutSection {
    padding: 50px 0;
}
.aboutPage{
    padding: 70px 0 0 0;
}
.successtories .item {
    padding-bottom: 40px;
}
.aboutSection li {
    margin-bottom: 60px;
}
.aboutSection li h5 {
    text-align: center;
    margin-top: 10px;
}
.aboutSection h3 {
    text-align: center;
    margin-bottom: 30px;
}
.aboutPage h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px !important;
}
.aboutSection ul {
    column-count: 3;
    gap: 40px;
}
.listWrap li {
    padding: 3px 0;
    position: relative;
    padding-left: 18px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 5px;
}
.largeFont{
    font-size: 16px;
}
.listWrap li:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    line-height: 8px;
    display: inline-block;
    left: 0;
    position: absolute;
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.footer-logo img {
    width: 100%;
}
footer li a {
    display: inline-flex;
    align-items: center;
    padding-bottom: 20px;
    transition: 600ms ease;
}
footer li a span{
    color: var(--bs-white);
}
footer li a:hover {
    color: var(--bs-white);
}
footer li a span{
    margin-right: 5px;
}
/* Services page */
.innerPageBanner.studentBg{
    background-image: url(../images/studentBg.jpg);
}
.innerPageBanner.taxReturn{
    background-image: url(../images/tax-return-services.jpg);
}
.innerPageBanner.ittinBg{
    background-image: url(../images/ittinBg.jpg);
}
.innerPageBanner.fbarbg{
    background-image: url(../images/fbar.jpg);
}
.innerPageBanner.fatcabg{
    background-image: url(../images/fatcabg.jpg);
}
.innerPageBanner.taxConsulting{
    background-image: url(../images/taxConsulting.jpg);
}
.innerPageBanner.taxExtention{
    background-image: url(../images/taxExtention.jpg);
}
.fatcaWrap img {
    min-height: 350px !important;
}
.taxConsultimgWrap .serviceImg {
    min-height: 620px;
}
.itinWrap .serviceImg {
    min-height: 520px;
    object-fit: cover;
}
.innerPageBanner{
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}
.innerPageBanner .bannerContent {
    padding: 60px 0;
}
.servicesBanner{
    background-image: url(../images/service-banner.jpg);
    position: relative;
    margin-bottom: 0;
}
.servicesBanner:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0000008a;
}
.innerPageBanner h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
}
.outerTaxReturn {
    padding: 60px 0;
}
.taxReturn {
    padding-bottom: 60px;
}
.taxReturn p {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}
.taxReturn ul {
    gap: 10px;
    display: flex;
}
.taxReturn li {
    display: inline-block;
    text-align: center;
    width: 19%;
}
.taxReturn h2 {
    margin-bottom: 40px;
}
.areaWrapper {
    background-color: #FBFBFB;
    padding: 60px 0;
}
.areaWrapper ul{
    column-count: 2;
    padding-top: 30px;
}
.areaWrapper ul li {
    padding-bottom: 10px;
}
.itinWrap{
    padding: 60px 0;
}
.itinWrap p {
    margin-bottom: 15px;
}
.fbarWrap {
    padding: 60px 0;
}
.financialWrap {
    margin-top: 50px;
}
.fbarWrap p {
    margin-bottom: 15px;
}
.fbarWrap h3 {
    margin-bottom: 15px;
}
.contactWrap .form-group{
    flex-direction: column;
}
.contactWrap .form-group label {
    color: #ffffff;
    margin-bottom: 5px;
}
.contactSection form {
    position: relative;
    border: 6px solid var(--primary-color);
    padding: 30px;
    background: #ffffff;
    width: 70%;
    margin: 0 auto;
}
.fbarWrap img {
    min-height: 450px;
    object-fit: cover;
}
.heightAuto{
    min-height: auto !important;
}
.tax-extension img {
    min-height: 400px !important;
}
.whyBg {
    background-image: url(../images/bannerImg.jpg);
    background-position: left;
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 181px;
}
.whyUs img {
    border-radius: 2px;
}
.whyimg {
    margin-right: 40px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}
.whyimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.whyUs {
    background-color: #f8f8f8;
    padding: 80px 0;
}
.visionFiletax {
    background-color: #676767;
    padding: 60px 0;
    text-align: center;
}
.visionFiletax h2, .visionFiletax p {
    color: var(--bs-white);
}
/* Priicng page */
.pricingContent {
    text-align: center;
    padding: 40px 15px;
    border-radius: 8px;
    min-height: 375px;
    border: 1px solid #ccc;
}
.pricingTag {
    border: 2px solid #ccc;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
    text-transform: capitalize;
    padding: 6px 10px;
    border-radius: 2px;
    font-size: 14px !important;
    margin-bottom: 10px;
}
.innerPricingContent p {
    font-size: 16px;
}
.serviceImg{
    border-radius: 12px;
}
.heightLarge {
    min-height: 400px;
    object-fit: cover;
}
.aboutSection li img {
    width: 100%;
    min-height: 295px;
    border-radius: 6px;
}
.pricingContent.active {
    box-shadow: 0px 0px 15px 0px #0000004f;
    transform: scale(1.1);
    background-color: #ffffff;
}

.pricingContent h3 {
    margin-bottom: 4px !important;
    font-size: 15px !important;
    color: var(--primary-color);
    display: inline-block;
    padding: 0 25px;
    line-height: 26px;
}
.innerPricingContent {
    min-height: 230px;
}
.pricingContent h2 {
    margin: 15px 0;
    color: var(--primary-color);
    font-size: 32px;
}
.pricingContent ul {
    margin: 30px 0;
    text-align: left;
}
.pricingContent li:before {
    content: '\e876';
    font-family: 'Material Symbols Outlined';
    top: 0;
    position: absolute;
    left: 0;
    color: #333;
    font-size: 18px;
}
.pricingContent li {
    color: #333333;
    padding-bottom: 8px;
    padding-left: 25px;
    position: relative;
}
.pricingContent .btn {
    margin-top: 20px;
}
.pricingWrap {
    margin-bottom: 80px;
    margin-top: 60px;
}
.pricingContent.active .btn.btn-outline-primary {
    background-color: #292759;
    color: #ffffff;
}


/********************/
.prfileWrap a {
    color: #ffffff;
}
.mainContent form {
    padding-top: 0 !important;
}
.mainContent input, .mainContent label {
    font-size: 14px !important;
    margin-bottom: 2px !important;
}
.mainContent input{
    width: 100% !important;
}
.mainContent .form-group label{
    width: 45% !important;
    line-height: 26px !important;
}
.mainContent form input {
    width: 100% !important;
}

.residencyTab .residencyLabel label {
    line-height: 22px;
    margin-top: 8px;
}
.clientId {
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--grey-color);
}
.clientId input{
    border: 0;
}
.clientId .input-group-text {
    border: 0;
    background: transparent;
    padding: 0;
}
.clientId input {
    background: transparent;
    height: auto;
    margin: 0 !important;
}
.clientId .input-group-text svg {
    width: 20px;
}
.headBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
form .form-group label{
    width: 100%;
}
.singleForm .form-group label {
    display: flex;
    width: 20%;
}
.residentLabel label {
    height: 43px !important;
    line-height: 43px;
    display: flex;
    align-items: center;
}
.residencyLabel label {
    height: 42px;
    line-height: 45px;
}
.backBtn {
    position: absolute;
    top: 20px;
}
.userProfile .innerCard{
    margin-bottom: 25px;
}
.innerCard p svg {
    width: 22px;
}

/* chat Css */
.outerChat {
    display: flex;
}
.chatProfile {
    width: 400px;
    padding-right: 15px;
}
.chat {
    width: calc(100% - 400px);
    margin: 0 !important;
    padding: 20px 40px !important;
    background-color: #ffffff !important;
    border-radius: 10px;
    height: 90vh;
    position: relative;
    padding-bottom: 80px !important;
}
.chatProfile a:hover{
    color: #333333;
}
.outer_chat {
    height: 100%;
    margin-bottom: 80px !important;
    overflow-y: scroll;
}
.typeMessage {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    z-index: 2;
}
.typeMessage input {
    background-color: #f3f6f9;
    padding: 0 15px !important;
    margin-right: 10px;
}
.chatProfile a img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-right: 10px;
}
.chatProfile a {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 10px;
    border-radius: 4px;
    border-bottom: 1px solid #eee;
}
.chatProfile h6 {
    margin: 0;
}